<footer class="footer bg-dark ">
    <div class="container text-center text-white">
        <h6 class="p-3">
            Evaluación módulo 8 - no usamos cookies, pero amamos las galletitas <span><i class="fa-solid fa-cookie-bite"></i></span> ., ©2025 
        </h6>
        <div class="card-group">

            <div class="card bg-transparent border-0 text-white ">
                <div class="card-body text-white">
                    <h5 class="card-title"> Escríbeme <span><i class="fa-solid fa-envelope"></i></span></h5>
                    <p class="card-text">
                        <span>
                            Manuel.lobos.88@gmail.com
                        </span>
                    </p>
                </div>
            </div>
            <div class="card bg-transparent border-0 text-white ">
                <div class="card-body text-white">
                    <h5 class="card-title">Contacto <span><i class="fa-brands fa-linkedin"></i></span></h5>
                    <p class="card-text">
                        <span class="text-white">
                            ¿Quiere ser mi primer cliente? búscame si te interesa
                        </span>
                    </p>
                </div>
            </div>
            <div class="card bg-transparent border-0 text-white">
                <div class="card-body text-white">
                    <h5 class="card-title">Sígueme <span><i class="fa-brands fa-square-instagram"></i></span></h5>
                    <p class="card-text">
                        Podrás ver mis otros intereses
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>